<div class="table-responsive">
    <table style="min-height: 450px;" class="min-vh-30 table table-striped table-dark table-hover">
        <thead>
            <tr>
                <th class="text-center" scope="col">Order</th>
                <th class="text-center" scope="col">Begin Time</th>
                <th class="text-center" scope="col">End Time</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center"> {0} </td>
                <td class="text-center"> {0} </td>
                <td class="text-center"> {0} </td>
            </tr>
        </tbody>
    </table>
</div>
