@model CategoryListViewModel

<ul class="list-group">
    <li class="bg-dark text-white list-group-item text-center"><strong>Categories</strong></li>
    @foreach (var item in Model.Categories!)
    {
        var css = "list-group-item";

        if (item.Name != "Empty")
        {
            <li>
                <a style="display:inline;cursor:pointer;" class="@css text-center list-group-item-action" href="/admin?category=@item.Id">
                    @item.Name
                </a>

                <a style="display:inline;cursor:pointer;" class="@css text-center list-group-item-action text-danger" href="/admin/admin/delete?id=@item.Id"><svg xmlns="http://www.w3.org/2000/svg" fill="#000000" width="64px" viewBox="-24 -24 72.00 72.00"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zm2.46-7.12l1.41-1.41L12 12.59l2.12-2.12 1.41 1.41L13.41 14l2.12 2.12-1.41 1.41L12 15.41l-2.12 2.12-1.41-1.41L10.59 14l-2.13-2.12zM15.5 4l-1-1h-5l-1 1H5v2h14V4z"></path></g></svg></a>

                <a><svg width="64px" viewBox="-16.8 -16.8 57.60 57.60" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#000000" stroke-width="0.00024000000000000003"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path fill-rule="evenodd" clip-rule="evenodd" d="m3.99 16.854-1.314 3.504a.75.75 0 0 0 .966.965l3.503-1.314a3 3 0 0 0 1.068-.687L18.36 9.175s-.354-1.061-1.414-2.122c-1.06-1.06-2.122-1.414-2.122-1.414L4.677 15.786a3 3 0 0 0-.687 1.068zm12.249-12.63 1.383-1.383c.248-.248.579-.406.925-.348.487.08 1.232.322 1.934 1.025.703.703.945 1.447 1.025 1.934.058.346-.1.677-.348.925L19.774 7.76s-.353-1.06-1.414-2.12c-1.06-1.062-2.121-1.415-2.121-1.415z" fill="#000000"></path></g></svg></a>
            </li>
        }
        else
        {
            <li>
                <a style="display:inline;cursor:pointer;" class="@css text-center list-group-item-action" href="/admin?category=@item.Id">
                    @item.Name
                </a>
            </li>
        }
    }
</ul>